/* config - reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: #121214;
}

/* config fonts */
body, input, button, textarea, select {
  font-family: Roboto, sans-serif;
}

body {
  background: #121214;
}